
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503976210472'); /* IE9*/
  src: url('iconfont.eot?t=1503976210472#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503976210472') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503976210472') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503976210472#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-research:before { content: "\e6a1"; }

.icon-activity:before { content: "\e7d1"; }

.icon-close:before { content: "\e641"; }

.icon-scan:before { content: "\e649"; }

.icon-uparrow:before { content: "\e64a"; }

.icon-reload:before { content: "\e650"; }

.icon-search:before { content: "\e651"; }

.icon-downarrow:before { content: "\e65b"; }

.icon-up:before { content: "\e65d"; }

.icon-down:before { content: "\e65e"; }

.icon-right:before { content: "\e65f"; }

.icon-left:before { content: "\e660"; }

.icon-share-right:before { content: "\e666"; }

.icon-design:before { content: "\e600"; }

.icon-show:before { content: "\e895"; }

.icon-share-up:before { content: "\e604"; }

.icon-intern:before { content: "\e648"; }

.icon-edu:before { content: "\e626"; }

.icon-code:before { content: "\e64f"; }

.icon-download:before { content: "\e707"; }

.icon-email:before { content: "\e601"; }

.icon-github:before { content: "\e603"; }

.icon-lead:before { content: "\e602"; }

.icon-recho-long:before { content: "\e60a"; }

.icon-user:before { content: "\e60e"; }

.icon-add-btn:before { content: "\e60f"; }

.icon-arrow:before { content: "\e610"; }

.icon-ask:before { content: "\e611"; }

.icon-check-box:before { content: "\e612"; }

.icon-slidedown:before { content: "\e613"; }

.icon-menu:before { content: "\e614"; }

.icon-arrange:before { content: "\e616"; }

.icon-knight:before { content: "\e617"; }

.icon-issue:before { content: "\e618"; }

.icon-disc:before { content: "\e619"; }

.icon-download1:before { content: "\e61a"; }

.icon-fader:before { content: "\e61b"; }

.icon-piano:before { content: "\e632"; }

.icon-tutor:before { content: "\e633"; }

.icon-list:before { content: "\e634"; }

.icon-ai:before { content: "\e61c"; }

.icon-arduino:before { content: "\e61d"; }

.icon-keyshot:before { content: "\e61e"; }

.icon-webpack:before { content: "\e61f"; }

.icon-vue:before { content: "\e620"; }

.icon-css3:before { content: "\e621"; }

.icon-jquery:before { content: "\e622"; }

.icon-ps:before { content: "\e623"; }

.icon-axure:before { content: "\e624"; }

.icon-matlab:before { content: "\e625"; }

.icon-npm:before { content: "\e627"; }

.icon-es6:before { content: "\e628"; }

.icon-materialize:before { content: "\e629"; }

.icon-h5:before { content: "\e62a"; }

.icon-git:before { content: "\e62b"; }

.icon-sketch:before { content: "\e62c"; }

.icon-d3:before { content: "\e62e"; }

.icon-lr:before { content: "\e62f"; }

.icon-rhino:before { content: "\e630"; }

.icon-angular:before { content: "\e631"; }

.icon-routo:before { content: "\e62d"; }

.icon-recho:before { content: "\e635"; }

